@tailwind base;
@tailwind components;
@tailwind utilities;

@import './header.scss';
@import './global.scss';

:root {
  --v-layout-left: 80px;
  --v-layout-right:80px;
  font-family: 'Noto Serif TC', serif;
//   line-height: 1.5;
//   font-weight: 400;

//   color-scheme: light dark;
//   color: rgba(255, 255, 255, 0.87);
//   background-color: #242424;

//   font-synthesis: none;
//   text-rendering: optimizeLegibility;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
}

